# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/.attach_*
/mpesa4j.iml
/draft_readme.txt
/libs/mpesa4j/src/test/resources/.env
/.settings/
/TODOS.txt
/mpesa4j-master.iml
/samples/mpesa4j-sample/src/main/resources/mpesa4j.properties
/samples/mpesa4j-spring-boot-sample/src/main/resources/application.properties
/samples/mpesa4j-sample/out/
/libs/mpesa4j/out/
